body {
    font-family: Arial, sans-serif;
    margin-top: 200px;
    margin-left: 270px;
    padding: 50px;
    display: 0;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 80vh; 
    background-image: url('jpg/25.png');
    background-size: cover;
    background-position: center;
}

.container {
    background-color: rgba(233, 241, 223, 0.8);
    margin-left: 120px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 40%;
    max-width: 500px;
   
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

h1 {
    color: #3f532e;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 60%; /* Mengisi lebar input sesuai lebar kontainer */
    box-sizing: border-box; /* Mencegah padding dan border menambah lebar input */
    font-size: 16px;
}

.next-button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(17, 163, 17);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: rgb(14, 131, 14);
}



